{% extends 'base.html.twig' %}

{% block title %}Edit Adherer{% endblock %}

{% block body %}
    <h1>Edit Adherer</h1>

    {{ include('adherer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('adherer_index') }}">back to list</a>

    {{ include('adherer/_delete_form.html.twig') }}
{% endblock %}
